.App {
  height: 100%;

  &__main-page-content {
    height: calc(100% - 80px);
    overflow-x: hidden;
  }
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: #131842;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 #0e2d7bb6 inset, 0 2px 5px 0 #0e2d7bb6 inset;
}
::-webkit-scrollbar-thumb {
  background: #088395;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #37b7c3; 
}
